<div class="container">
    <h1>Preguntas Frecuentes</h1>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Como crear un nuevo empleado o socio?
                </mat-panel-title>
                <mat-panel-description>
                    Usuarios
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="p-4">
                Para poder crear un nuevo usuario, debemos dirigirnos al menu a la seccion de "Gestiones", donde encontraremos un apartado
                llamado "Gestion de usuarios", cuando ingresemos a este apartado observaremos que del lado izquierdo hay una tabla donde 
                veremos los usuarios previamente creados, a la derecha tenemos un formulario con la informacion necesaria para dar de 
                alta un nuevo usuario
            </p>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Como Ingresar un nuevo plan de pago?
                </mat-panel-title>
                <mat-panel-description>
                    Precios
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="p-4">
                Para poder crear un nuevo plan de pago, debemos dirigirnos al menu a la seccion de "Gestiones", donde encontraremos un apartado
                llamado "Gestion de Precios", cuando ingresemos a este apartado observaremos que del lado izquierdo hay una tabla donde 
                veremos los planes de pago previamente creados, a la derecha tenemos un formulario con la informacion necesaria para dar de 
                alta un nuevo plan de pago
            </p>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Como asociar un vehiculo a un socio o empleado?
                </mat-panel-title>
                <mat-panel-description>
                    Vehiculos
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="p-4">
                Para poder asociar un vehiculo, debemos dirigirnos al menu a la seccion de "Gestiones", donde encontraremos un apartado
                llamado "Gestion de Vehiculo", cuando ingresemos a este apartado observaremos que del lado izquierdo hay una tabla donde 
                veremos los vehiculo previamente asociados, a la derecha tenemos un formulario con la informacion necesaria para asociar 
                un vehiculo a un usuario previamente creado
            </p>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Como modifico o agrego pisos a mi estacionamiento?
                </mat-panel-title>
                <mat-panel-description>
                    Mapa
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="p-4">
                Para poder modificar y/o agregar un piso deberemos dirigirnos al menu, a la seccion de "Gestiones" luego de esto nos dirigimos al apartado de
                "Gestion de Mapa" en esta pagina veremos un recuadro donde nos permitira crear un piso desde cero, eliminar alguno previamente creado o modificar
                algun piso, ademas podremos agregar o quitar posiciones 
            </p>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Como accedo a los reportes?
                </mat-panel-title>
                <mat-panel-description>
                    Reportes
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="p-4">
                Para poder acceder a los reportes, debemos dirigirnos al menu donde encontraremos un apartado
                llamado "Gestion de Precios", cuando ingresemos a este apartado observaremos en la parte superior un titulo indicativo
                que anuncia el rango de fecha seleccionado para visualizar los reportes, en la parte del centro a la izquierda veremos
                un grafico que indica los ingresos generados por tipo de vehiculo y en la parte dereche observaremos la cantidad de vehiculos
                por el tipo, ya al final de esta pagina veremos un listado de los ingresos al estacionamiento y un boton para dercargar un archivo
                con la informacion
            </p>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Como registrar el ingreso de un vehiculo?
                </mat-panel-title>
                <mat-panel-description>
                    Ingreso Vehiculo
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="p-4">
                Para poder registrar el ingreso de un vehiculo, previamente deberemos haber creado un piso y haber agregado minimamente una posicion, teniendo
                en cuenta lo anterior mencionado, deberemos seleccionar una posicion del piso, nos aparecera un boton el cual tendra el mensaje "Ingresar Vehiculo"
                al presionarlo se abrira un pop-up con un formulario a completar con informacion del vehiculo ingresante, una vez seleccionado el boton de "Guardar"
                veremos que la posicion cambia a un color rojo, indicando que la ubicacion esta siendo utilizada
            </p>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Como realizar una cobranza?
                </mat-panel-title>
                <mat-panel-description>
                    Cobranza
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="p-4">
                Para poder realizar una cobranza deberemos seleccionar una posicion en el mapa del piso que este siendo utilizada y nos aparecera un boton "Realizar cobranza"
                al presionar este boton veremos la informacion del vehiculo que esta en la posicion, el monto a cobrar y el tiempo restante, presionando el boton 
                "Realizar la cobranza", la operacion es registrada y el mapa se actualiza con un color verde denotando que esta posicion ya esta disponible para el uso 
            </p>
    
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Nesecitas ayuda?
                </mat-panel-title>
                <mat-panel-description>
                    Contacto
                    <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="p-4">
                Si necesitas realizar una consulta sobre el funcionamiento de la pagina, no dudes en enviarnos un correo a "fabrizionunezt@gmail.com"
            </p>
    
        </mat-expansion-panel>
    
    </mat-accordion>
</div>
